In [5]:
# Starter code
from pyspark.sql import SparkSession

# Create spark session
spark = SparkSession \
    .builder \
    .appName("Sparkify") \
    .getOrCreate()

# Read in full sparkify dataset
event_data = "./mini_sparkify_event_data.json"
df = spark.read.json(event_data)
df.persist()
df.createOrReplaceTempView('df')
df.head()

Row(artist='Martha Tilston', auth='Logged In', firstName='Colin', gender='M', itemInSession=50, lastName='Freeman', length=277.89016, level='paid', location='Bakersfield, CA', method='PUT', page='NextSong', registration=1538173362000, sessionId=29, song='Rockpools', status=200, ts=1538352117000, userAgent='Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0', userId='30')

In [4]:
df.limit(10).toPandas()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Martha Tilston,Logged In,Colin,M,50,Freeman,277.89016,paid,"Bakersfield, CA",PUT,NextSong,1538173362000,29,Rockpools,200,1538352117000,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,30
1,Five Iron Frenzy,Logged In,Micah,M,79,Long,236.09424,free,"Boston-Cambridge-Newton, MA-NH",PUT,NextSong,1538331630000,8,Canada,200,1538352180000,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",9
2,Adam Lambert,Logged In,Colin,M,51,Freeman,282.82730,paid,"Bakersfield, CA",PUT,NextSong,1538173362000,29,Time For Miracles,200,1538352394000,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,30
3,Enigma,Logged In,Micah,M,80,Long,262.71302,free,"Boston-Cambridge-Newton, MA-NH",PUT,NextSong,1538331630000,8,Knocking On Forbidden Doors,200,1538352416000,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",9
4,Daft Punk,Logged In,Colin,M,52,Freeman,223.60771,paid,"Bakersfield, CA",PUT,NextSong,1538173362000,29,Harder Better Faster Stronger,200,1538352676000,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,30
5,The All-American Rejects,Logged In,Micah,M,81,Long,208.29995,free,"Boston-Cambridge-Newton, MA-NH",PUT,NextSong,1538331630000,8,Don't Leave Me,200,1538352678000,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",9
6,The Velvet Underground / Nico,Logged In,Micah,M,82,Long,260.46649,free,"Boston-Cambridge-Newton, MA-NH",PUT,NextSong,1538331630000,8,Run Run Run,200,1538352886000,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",9
7,Starflyer 59,Logged In,Colin,M,53,Freeman,185.44281,paid,"Bakersfield, CA",PUT,NextSong,1538173362000,29,Passengers (Old Album Version),200,1538352899000,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,30
8,None,Logged In,Colin,M,54,Freeman,NaN,paid,"Bakersfield, CA",PUT,Add to Playlist,1538173362000,29,None,200,1538352905000,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,30
9,Frumpies,Logged In,Colin,M,55,Freeman,134.47791,paid,"Bakersfield, CA",PUT,NextSong,1538173362000,29,Fuck Kitty,200,1538353084000,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,30

In [8]:
spark.sql('''
select count(*), page 
from df
group by page
order by count(*) desc
''').toPandas()

    count(1)                       page
0     228108                   NextSong
1      14457                       Home
2      12551                  Thumbs Up
3       6526            Add to Playlist
4       4277                 Add Friend
5       3933                Roll Advert
6       3241                      Login
7       3226                     Logout
8       2546                Thumbs Down
9       2055                  Downgrade
10      1726                       Help
11      1514                   Settings
12       924                      About
13       499                    Upgrade
14       310              Save Settings
15       258                      Error
16       159             Submit Upgrade
17        63           Submit Downgrade
18        52                     Cancel
19        52  Cancellation Confirmation
20        18                   Register
21         5        Submit Registration

In [9]:
spark.sql('''
select count(distinct userId)
from df
''').toPandas()

   count(DISTINCT userId)
0                     226

In [10]:
spark.sql('''
select min(ts), max(ts)
from df
''').toPandas()

         min(ts)        max(ts)
0  1538352117000  1543799476000

In [12]:
spark.sql('''
select *
from df
where userId = 30
order by sessionId, itemInSession
''').toPandas()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Martha Tilston,Logged In,Colin,M,50,Freeman,277.89016,paid,"Bakersfield, CA",PUT,NextSong,1538173362000,29,Rockpools,200,1538352117000,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,30
1,Adam Lambert,Logged In,Colin,M,51,Freeman,282.82730,paid,"Bakersfield, CA",PUT,NextSong,1538173362000,29,Time For Miracles,200,1538352394000,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,30
2,Daft Punk,Logged In,Colin,M,52,Freeman,223.60771,paid,"Bakersfield, CA",PUT,NextSong,1538173362000,29,Harder Better Faster Stronger,200,1538352676000,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,30
3,Starflyer 59,Logged In,Colin,M,53,Freeman,185.44281,paid,"Bakersfield, CA",PUT,NextSong,1538173362000,29,Passengers (Old Album Version),200,1538352899000,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,30
4,None,Logged In,Colin,M,54,Freeman,NaN,paid,"Bakersfield, CA",PUT,Add to Playlist,1538173362000,29,None,200,1538352905000,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1770,Enigma,Logged In,Colin,M,311,Freeman,303.38567,paid,"Bakersfield, CA",PUT,NextSong,1538173362000,2401,Mea Culpa,200,1543621509000,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,30
1771,Alanis Morissette,Logged In,Colin,M,312,Freeman,236.45995,paid,"Bakersfield, CA",PUT,NextSong,1538173362000,2401,Ironic (Acoustic Album Version),200,1543621812000,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,30
1772,Dwight Yoakam,Logged In,Colin,M,313,Freeman,239.30730,paid,"Bakersfield, CA",PUT,NextSong,1538173362000,2401,You're The One,200,1543622048000,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,30
1773,Golden Triangle,Logged In,Colin,M,314,Freeman,175.77751,paid,"Bakersfield, CA",PUT,NextSong,1538173362000,2401,Red Coats,200,1543622287000,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,30
1774,None,Logged In,Colin,M,315,Freeman,NaN,paid,"Bakersfield, CA",PUT,Add to Playlist,1538173362000,2401,None,200,1543622320000,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,30

In [17]:
spark.sql('''
select *
from df
where 1=1 
--and page IN ('Downgrade')
and userId = 2
and sessionId = 1
and page != 'NextSong'
order by sessionId, itemInSession
''').limit(10).toPandas()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Natalee,F,10,Charles,NaN,paid,"Raleigh, NC",GET,Home,1536799770000,1,None,200,1538976114000,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",2
1,None,Logged In,Natalee,F,13,Charles,NaN,paid,"Raleigh, NC",PUT,Logout,1536799770000,1,None,307,1538976606000,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",2
2,None,Logged In,Natalee,F,16,Charles,NaN,paid,"Raleigh, NC",GET,Home,1536799770000,1,None,200,1538976813000,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",2
3,None,Logged In,Natalee,F,17,Charles,NaN,paid,"Raleigh, NC",GET,Home,1536799770000,1,None,200,1538976832000,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",2
4,None,Logged In,Natalee,F,19,Charles,NaN,paid,"Raleigh, NC",GET,Downgrade,1536799770000,1,None,200,1538976932000,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",2
5,None,Logged In,Natalee,F,38,Charles,NaN,paid,"Raleigh, NC",PUT,Thumbs Up,1536799770000,1,None,307,1538981760000,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",2
6,None,Logged In,Natalee,F,40,Charles,NaN,paid,"Raleigh, NC",PUT,Thumbs Down,1536799770000,1,None,307,1538982047000,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",2
7,None,Logged In,Natalee,F,44,Charles,NaN,paid,"Raleigh, NC",PUT,Thumbs Down,1536799770000,1,None,307,1538982662000,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",2
8,None,Logged In,Natalee,F,49,Charles,NaN,paid,"Raleigh, NC",PUT,Thumbs Up,1536799770000,1,None,307,1538983701000,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",2
9,None,Logged In,Natalee,F,59,Charles,NaN,paid,"Raleigh, NC",PUT,Thumbs Up,1536799770000,1,None,307,1538986786000,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",2

In [46]:
spark.sql('''
    WITH surrounding_page AS (
    select row_number() over user_sessions as row_number
        , LAG(page, 2) over user_sessions as before_before_page
        , LAG(page, 1) over user_sessions as before_page
        , LEAD(page, 1) over user_sessions as after_page
        , LEAD(page, 2) over user_sessions as after_after_page
        , df.*
    from df
    where 1=1 
    --and page IN ('Submit Downgrade')
    --and userId = 2
    --and sessionId = 1
    --and page != 'NextSong'
    window user_sessions as (partition by userId order by sessionId, itemInSession)
    
)

select count(*), before_before_page, before_page, page, after_page, after_after_page
from surrounding_page 
where page IN (
--'Submit Downgrade'
--'Cancellation Confirmation'
'Cancel'
)
group by before_before_page, before_page, page, after_page, after_after_page
order by count(*) desc
''').limit(10).toPandas()

,count(1),before_before_page,before_page,page,after_page,after_after_page
0,18,NextSong,Downgrade,Cancel,Cancellation Confirmation,None
1,14,NextSong,Roll Advert,Cancel,Cancellation Confirmation,None
2,10,NextSong,Settings,Cancel,Cancellation Confirmation,None
3,4,NextSong,Thumbs Down,Cancel,Cancellation Confirmation,None
4,2,Help,Settings,Cancel,Cancellation Confirmation,None
5,2,Downgrade,Downgrade,Cancel,Cancellation Confirmation,None
6,1,Home,Settings,Cancel,Cancellation Confirmation,None
7,1,Settings,Settings,Cancel,Cancellation Confirmation,None